@model IAuditable


<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#show-audit">
    Audit
</button>


<div id="show-audit" class="collapse">
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
            &nbsp;
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
            &nbsp;
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
            &nbsp;
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
            &nbsp;
        </dd>
    </dl>
</div>