<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TestLab</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(TestLab.Infrastructure.Constants.AppName, "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <nav class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li @(Html.IsRouteMatch("About","Home")?"class=active":null)>@Html.ActionLink("About", "About", "Home")</li>
                    @RenderSection("nav", required: false)
                </ul>
                <p class="navbar-text navbar-right">Hello, @User.Identity.Name!</p>
            </nav>
        </div>
    </header>
    <section class="container body-content">
        @RenderBody()
    </section>
    <footer>
        <div class="container">
            <p class="text-muted">&copy; @DateTime.Now.Year - @TestLab.Infrastructure.Constants.AppName</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/site")
    @RenderSection("scripts", required: false)
</body>
</html>
