@{
    string controllerName = ViewContext.RouteData.Values["controller"] as string;
    string actionName = ViewContext.RouteData.Values["action"] as string;
}
<li class="active">@Html.ActionLink("Projects", "Index", "TestProjects", null, null)</li>

<li class="dropdown active">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Projects <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("List", "Index", "TestProjects", null, null)</li>
        <li class="active">@Html.ActionLink("Create New", "New", "TestProjects")</li>
    </ul>
</li>

<li class="dropdown active">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Projects <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("List", "Index", "TestProjects", null, null)</li>
        <li class="active">@Html.ActionLink("Edit", "Edit", "TestProjects", new { id = Model.Id }, null)</li>
    </ul>
</li>
<li>@Html.ActionLink("Cases", "Index", "TestCases", new { testprojectId = Model.Id }, null)</li>
<li>@Html.ActionLink("Plans", "Index", "TestPlans", new { testprojectId = Model.Id }, null)</li>
<li>@Html.ActionLink("Sessions", "Index", "TestSessions", new { testprojectId = Model.Id }, null)</li>


<li class="dropdown active">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Projects <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("List", "Index", "TestProjects", null, null)</li>
        <li class="active">@Html.ActionLink(Model.Name, "Show", "TestProjects", new { id = Model.Id }, null)</li>
    </ul>
</li>
<li>@Html.ActionLink("Cases", "Index", "TestCases", new { testprojectId = Model.Id }, null)</li>
<li>@Html.ActionLink("Plans", "Index", "TestPlans", new { testprojectId = Model.Id }, null)</li>
<li>@Html.ActionLink("Builds", "Index", "TestBuilds", new { testprojectId = Model.Id }, null)</li>
<li>@Html.ActionLink("Sessions", "Index", "TestSessions", new { testprojectId = Model.Id }, null)</li>
