@model TestLab.Domain.TestPlan

@{
    ViewBag.Title = "New Test Plan";
}

<h2>Create New</h2>
<p>
    @Html.ActionLink("Cancel", "Index", "TestPlans", new { testprojectId = Model.Project.Id }, new { @class = "btn btn-default" })
</p>
@using (Html.BeginForm("Create", "TestPlans", new { testprojectId = Model.Project.Id }))
{
    @Html.Partial("_form", Model)
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@section tabs{
    <ul class="nav nav-tabs">
        <li>@Html.ActionLink("Project", "Show", "TestProjects", new { id = Model.Project.Id }, null)</li>
        <li>@Html.ActionLink("Cases", "Index", "TestCases", new { testprojectId = Model.Project.Id }, null)</li>
        <li>@Html.ActionLink("Plans", "Index", "TestPlans", new { testprojectId = Model.Project.Id }, null)</li>
        <li class="active">@Html.ActionLink("Plan", "New", "TestPlans", new { testprojectId = Model.Project.Id }, null)</li>
        <li>@Html.ActionLink("Sessions", "Index", "TestSessions", new { testprojectId = Model.Project.Id }, null)</li>
    </ul>
}