@model TestLab.Domain.TestProject


@Html.AntiForgeryToken()
@Html.ValidationSummary(true)

<div class="form-horizontal">
    <fieldset>
        <legend>TestProject</legend>
        <div class="form-group@(Html.ValidationErrorFor(m => m.Name, " has-error"))">
            @Html.LabelFor(m => m.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name, null, new { @class = "help-block" })
            </div>
        </div>
    </fieldset>
    
    <fieldset>
        <legend>Repository</legend>
        <div class="form-group@(Html.ValidationErrorFor(m => m.Repo.PathOrUrl, " has-error"))">
            @Html.LabelFor(m => m.Repo.PathOrUrl, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Repo.PathOrUrl, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Repo.PathOrUrl, null, new { @class = "help-block" })
            </div>
        </div>
        <div class="form-group@(Html.ValidationErrorFor(m => m.Repo.Type, " has-error"))">
            @Html.LabelFor(m => m.Repo.Type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(m => m.Repo.Type, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Repo.Type, null, new { @class = "help-block" })
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Source</legend>
        <div class="form-group@(Html.ValidationErrorFor(m => m.Src.Type, " has-error"))">
            @Html.LabelFor(m => m.Src.Type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(m => m.Src.Type, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Src.Type, null, new { @class = "help-block" })
            </div>
        </div>
    </fieldset>
    
    <fieldset>
        <legend>Bin</legend>
        <div class="form-group@(Html.ValidationErrorFor(m => m.Bin.Type, " has-error"))">
            @Html.LabelFor(m => m.Bin.Type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(m => m.Bin.Type, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Bin.Type, null, new { @class = "help-block" })
            </div>
        </div>
    </fieldset>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-primary" />
            <input type="reset" value="Reset" class="btn btn-default"/>
        </div>
    </div>
</div>
