@model TestLab.Domain.TestProject

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<p>
    @Html.ActionLink("Cancel", "Show", null, new { @class = "btn btn-default" })
</p>
@using (Html.BeginForm("Update", "TestProjects", new {id = Model.Id}))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.Partial("_form", Model)
}

@using (Html.BeginForm("Destroy", "TestProjects", new { id = Model.Id }))
{
    @Html.HttpMethodOverride(HttpVerbs.Delete)
    
    <input type="submit" value="Delete" class="btn btn-danger" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
