@model TestLab.Domain.TestProject

@{
    ViewBag.Title = "Test Project";
}

<div>
    <h2>Test Project</h2>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
    @Html.Partial("_ShowAudit", Model)
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.RepoPathOrUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepoPathOrUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DriverName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DriverName)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.BuildOutputPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuildOutputPath)
            &nbsp;
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.BuildScript)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuildScript)
            &nbsp;
        </dd>
    </dl>
</div>
@Html.Partial("_ShowBuild", Model.Build)
@if(Model.Build.Started==null || Model.Build.Completed!=null)
{
<p>
    @Html.ActionLink("Start New Build", "Build", "TestProjects", new { id = Model.Id }, new { @class = "btn btn-success ajax-post" })
</p>
}
@section nav{
    <li class="dropdown active">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Projects <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("List", "Index", "TestProjects", null, null)</li>
            <li class="active">@Html.ActionLink(Model.Name, "Show", "TestProjects", new { id = Model.Id }, null)</li>
        </ul>
    </li>
    <li>@Html.ActionLink("Cases", "Index", "TestCases", new { testprojectId = Model.Id }, null)</li>
    <li>@Html.ActionLink("Plans", "Index", "TestPlans", new { testprojectId = Model.Id }, null)</li>
    <li>@Html.ActionLink("Sessions", "Index", "TestSessions", new { testprojectId = Model.Id }, null)</li>
}