@model TestProject

@{
    ViewBag.Title = "Test Project: " + Model.Name;
}

<p><a href="@Url.Action("Edit")" class="btn btn-default">Edit</a></p>

<div>
    
    @Html.Partial("_Audit", Model)
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RepoPathOrUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepoPathOrUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DriverName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DriverName)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.BuildOutputPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuildOutputPath)
            &nbsp;
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.BuildScript)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuildScript)
            &nbsp;
        </dd>
    </dl>
</div>

<div>
    <h2 class="sub-header">Test Cases</h2>
    @Html.Partial("_TestCases", Model.Cases.Actives())
</div>