@model IEnumerable<TestLab.Domain.TestRun>

@{
    ViewBag.Title = "Test Runs";
    TestLab.Domain.TestSession session = ViewBag.Session ?? Model.First().Session;
    TestLab.Domain.TestProject project = ViewBag.Project ?? session.Project;
}

<h2>Test Runs</h2>

@Html.Partial("../TestSessions/_ShowProgress", session)

@Html.Grid(Model).Columns(c =>
{
    c.Add(o => o.Case.Name);

    c.Add(o => o.Case.Keyword);

    c.Add(o => o.Started)
     .SetWidth(110);

    c.Add(o => o.Completed)
     .SetWidth(110);

    c.Add(o => o.Result.PassOrFail);
    
    c.Add(o => o.Result.Summary)
     .Encoded(false)
     .Sanitized(false)
     .RenderValueAs(d =>
                        @<div>
                             @if (d.Completed != null)
                             {
                                 <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#result-@d.Case.Id">
                                     @d.Result.Summary
                                 </button>

                                 <div id="result-@d.Case.Id" class="collapse">
                                     <pre>@d.Result.ErrorDetails
                                         @d.Result.Output</pre>
                                 </div>
                             }
                         </div>
        );

}).Sortable().Filterable().WithMultipleFilters().WithPaging(20).SetRowCssClasses(item => {
    switch (item.Result.PassOrFail)
    {
        case true:
            return "success";
        case false:
            return "danger";
        default:
            return "";
    }
})


@section nav{
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Projects <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("List", "Index", "TestProjects", null, null)</li>
            <li>@Html.ActionLink(project.Name, "Show", "TestProjects", new { id = project.Id }, null)</li>
        </ul>
    </li>
    <li>@Html.ActionLink("Cases", "Index", "TestCases", new { testprojectId = project.Id }, null)</li>
    <li>@Html.ActionLink("Plans", "Index", "TestPlans", new { testprojectId = project.Id }, null)</li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sessions <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("List", "Index", "TestSessions", new { testprojectId = project.Id }, null)</li>
            <li>@Html.ActionLink(session.Name, "Show", "TestSessions", new { id = session.Id, testprojectId = project.Id }, null)</li>
        </ul>
    </li>    
    <li class="active">@Html.ActionLink("Runs", "Index", "TestRuns", new { testsessionId = session.Id, testprojectId = project.Id }, null)</li>
}