@model IEnumerable<TestLab.Domain.TestBuild>

@{
    ViewBag.Title = "TestBuilds";
}

<h2>TestBuilds</h2>
@if (!Model.Any(z => z.Started == null))
{
    using (Html.BeginForm("Create", "TestBuilds"))
    {
        @Html.AntiForgeryToken()
        <input type="submit" value="Create New" class="btn btn-primary" />
    }
}
@Html.Grid(Model).Columns(c =>
{        
    c.Add(o => o.Id);

    c.Add(o => o.Name);

    c.Add(o => o.Started)
     .SetWidth(110)
     .Encoded(false)
     .Sanitized(false)
     .RenderValueAs(d =>
                        @<div>
                             @if (d.Started == null)
                             {
                                 @Html.ActionLink("Start", "Start", "TestBuilds", new { id = d.Id }, new { @class = "btn btn-success ajax-post" })                                
                             }
                             else
                             {
                                 @d.Started
                             }
                         </div>
        );

    c.Add(o => o.Completed)
     .SetWidth(110);

    c.Add(o => o.Archived)
     .SetWidth(110);

}).Sortable().Filterable().WithMultipleFilters().WithPaging(20)

@section scripts{
    @Scripts.Render("~/bundles/gridmvc")
}

@section breadcrumb{
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Project", "Show", "TestProjects", new { id = ViewContext.RouteData.Values["testprojectId"] }, null)</li>
        <li class="active">Builds</li>
    </ol>
}