@model IEnumerable<TestLab.Domain.TestCase>

@{
    ViewBag.Title = "Test Cases";
    TestLab.Domain.TestProject project = ViewBag.Project;
}

<h2>Test Cases</h2>

@Html.Grid(Model.OrderBy(z=>z.Name)).Columns(c =>
{
    c.Add(o => o.Id);
    
    c.Add(o => o.Name)
     .SortInitialDirection(GridMvc.Sorting.GridSortDirection.Ascending);

    c.Add(o => o.Location);

    c.Add(o => o.Plans.Count);

    c.Add(o => o.Published)
     .SetWidth(110);

}).Sortable().Filterable().WithMultipleFilters().WithPaging(20)

@section nav{
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Projects <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("List", "Index", "TestProjects", null, null)</li>
            <li>@Html.ActionLink(project.Name, "Show", "TestProjects", new { id = project.Id }, null)</li>
        </ul>
    </li>
    <li class="active">@Html.ActionLink("Cases", "Index", "TestCases", new { testprojectId = project.Id }, null)</li>
    <li>@Html.ActionLink("Plans", "Index", "TestPlans", new { testprojectId = project.Id }, null)</li>
    <li>@Html.ActionLink("Sessions", "Index", "TestSessions", new { testprojectId = project.Id }, null)</li>
}