@model IEnumerable<TestLab.Domain.TestResult>

@{
    ViewBag.Title = "TestResults";
}

<h2>TestResults</h2>

@Html.Grid(Model).Columns(c =>
{
    c.Add(o => o.Case.Name);

    c.Add(o => o.Started)
     .SetWidth(110);

    c.Add(o => o.Completed)
     .SetWidth(110);

    c.Add(o => o.PassOrFail);

    c.Add(o => o.Summary);

}).Sortable().Filterable().WithMultipleFilters().WithPaging(20)

@section scripts{
    @Scripts.Render("~/bundles/gridmvc")
}

@section breadcrumb{
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Project", "Show", "TestProjects", new { id = ViewContext.RouteData.Values["testprojectId"] }, null)</li>
        <li>@Html.ActionLink("Plan", "Show", "TestPlans", new { id = ViewContext.RouteData.Values["testplanId"] }, null)</li>
        <li>@Html.ActionLink("Session", "Show", "TestSessions", new { id = ViewContext.RouteData.Values["testsessionId"] }, null)</li>
        <li class="active">Results</li>
    </ol>
}