@model TestAgent

@{
    ViewBag.Title = "Test Agent";
}

<div>
    <h2>Test Agent</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.LastTalk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastTalk)
            &nbsp;
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>
    </dl>
</div>

<div>
    <h2>Test Jobs</h2>
    @Html.Partial("_TestJobs", Model.Jobs.Actives())
</div>
