@model TestLab.Domain.TestConfig

<div>
    <h4>Config</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RdpServer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RdpServer)
            &nbsp;
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.RdpDomain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RdpDomain)
            &nbsp;
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RdpUserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RdpUserName)
            &nbsp;
        </dd>
    </dl>
</div>