@model TestSession

@{
    ViewBag.Title = "Edit Test Session";
}

<h2>Edit</h2>
<p>
    @Html.ActionLink("Cancel", "Show", "TestSessions", new { id = Model.Id, testprojectId = Model.Project.Id }, new { @class = "btn btn-default" })
</p>
@using (Html.BeginForm("Update", "TestSessions", new { id = Model.Id, testprojectId = Model.Project.Id }))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.Partial("_form", Model)
}

@using (Html.BeginForm("Destroy", "TestSessions", new { id = Model.Id }))
{
    @Html.HttpMethodOverride(HttpVerbs.Delete)
    
    <input type="submit" value="Delete" class="btn btn-danger" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
