@model IEnumerable<TestLab.Domain.TestSession>

@{
    ViewBag.Title = "Test Sessions";
    TestLab.Domain.TestProject project = ViewBag.Project;
}

<h2>Test Sessions</h2>
<p>
    @Html.ActionLink("Create New", "New", "TestSessions", new { testprojectId = project.Id }, new { @class = "btn btn-default" })
</p>

@Html.Grid(Model.OrderByDescending(z=>z.Id)).Columns(c =>
{
    c.Add()
     .Encoded(false)
     .Sanitized(false)
     .SetWidth(30)
     .RenderValueAs(d =>
                        Html.ActionLink("Open", "Show", "TestSessions", new { id = d.Id, testprojectId = project.Id }, new { @class = "btn btn-default" })
        );

    c.Add(o => o.Id)
     .SortInitialDirection(GridMvc.Sorting.GridSortDirection.Descending);
    
    c.Add(o => o.Name);

    c.Add(o => o.Agent);
    
    c.Add(o => o.Build);
   
    c.Add(o => o.Started)
     .SetWidth(110);

    c.Add(o => o.Completed)
     .SetWidth(110);

    c.Add()
     .Encoded(false)
     .Sanitized(false)
     .Titled("Progress")
     .RenderValueAs(d =>
            @<div class="progress">
  <div class="progress-bar progress-bar-success" style="width: @(d.PassCount*100/d.Runs.Count)%">
    @d.PassCount <span class="sr-only">passed</span>
  </div>
  <div class="progress-bar progress-bar-danger" style="width: @(d.FailCount*100/d.Runs.Count)%">
    @d.FailCount <span class="sr-only">failed</span>
  </div>
  <div class="progress-bar progress-bar-info" style="width: @(d.Runs.Count(z => z.Started != null && z.Completed == null)*100/d.Runs.Count)%">
    @d.Runs.Count(z => z.Started != null && z.Completed == null) <span class="sr-only">running</span>
  </div>
</div>);

}).Sortable().Filterable().WithMultipleFilters().WithPaging(20)

@section scripts{
    @Scripts.Render("~/bundles/gridmvc")
}

@section nav{
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Projects <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("List", "Index", "TestProjects", null, null)</li>
            <li>@Html.ActionLink(project.Name, "Show", "TestProjects", new { id = project.Id }, null)</li>
        </ul>
    </li>
    <li>@Html.ActionLink("Cases", "Index", "TestCases", new { testprojectId = project.Id }, null)</li>
    <li>@Html.ActionLink("Plans", "Index", "TestPlans", new { testprojectId = project.Id }, null)</li>
    <li class="active">@Html.ActionLink("Sessions", "Index", "TestSessions", new { testprojectId = project.Id }, null)</li>
}