@model IEnumerable<TestLab.Domain.TestSession>

@{
    ViewBag.Title = "TestSessions";
}

<h2>TestSessions</h2>

<p>
    @Html.ActionLink("Create New", "New", null, new { @class = "btn btn-default" })
</p>

@Html.Grid(Model).Columns(c =>
{
    c.Add()
     .Encoded(false)
     .Sanitized(false)
     .SetWidth(30)
     .RenderValueAs(d =>
                        Html.ActionLink("Open", "Show", new {id = d.Id}, new {@class = "btn btn-default"})
        );

    c.Add(o => o.Id);

    c.Add(o => o.Server);
   
    c.Add(o => o.Summary);

    c.Add(o => o.Started)
     .SetWidth(110)
     .Encoded(false)
     .Sanitized(false)
     .RenderValueAs(d =>
                        @<div>
                             @if (d.Started == null)
                             {
                                 @Html.ActionLink("Start", "Start", "TestSessions", new { id = d.Id, testplanId = d.TestPlanId }, new { @class = "btn btn-success ajax-post" })
                             }
                             else
                             {
                                 @d.Started
                             }
                         </div>
        );

    c.Add(o => o.Completed)
     .SetWidth(110);

    c.Add(o => o.Results.Count);

}).Sortable().Filterable().WithMultipleFilters().WithPaging(20)

@section scripts{
    @Scripts.Render("~/bundles/gridmvc")
}

@section breadcrumb{
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Project", "Show", "TestProjects", new { id = ViewContext.RouteData.Values["testprojectId"] }, null)</li>
        <li>@Html.ActionLink("Plan", "Show", "TestPlans", new { id = ViewContext.RouteData.Values["testplanId"] }, null)</li>
        <li class="active">Sessions</li>
    </ol>
}