@model TestSession

@{
    ViewBag.Title = "Test Session";
}

<div class="clearfix">
    
    @Html.Partial("_Audit", Model)
    
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Build)
        </dt>

        <dd>
            @Model.Build.Name
        </dd>
    </dl>
</div>
@if(Model.FailCount>0)
{
<p>
    @Html.ActionLink("Restart Failed Cases", "Restart", "TestSessions", new { id = Model.Id, testprojectId = Model.Project.Id }, new { @class = "btn btn-success ajax-post" })
</p>
}

@Html.Partial("_Progress", Model)

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li><a href="#testconfig" data-toggle="tab">Test Config</a></li>
  <li><a href="#testqueues" data-toggle="tab">Test Queues</a></li>
  <li class="active"><a href="#testruns" data-toggle="tab">Test Runs</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane" id="testconfig"><br />
      @Html.Partial("_TestConfig", Model.Config)
  </div>
  <div class="tab-pane" id="testqueues"><br />
      @Html.Partial("_TestQueues", Model.Queues)
  </div>
  <div class="tab-pane active" id="testruns"><br />
      @Html.Partial("_TestRuns", Model.Runs)
  </div>
</div>

