@model TestSession

@{
    ViewBag.Title = "Test Session";
}

<div>
    <h2>Test Session</h2>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
    @Html.Partial("_ShowAudit", Model)
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Build)
        </dt>

        <dd>
            @Model.Build.Name
        </dd>
    </dl>
</div>
@if(Model.FailCount>0)
{
<p>
    @Html.ActionLink("Restart Failed Cases", "Restart", "TestSessions", new { id = Model.Id, testprojectId = Model.Project.Id }, new { @class = "btn btn-success ajax-post" })
</p>
}
<div>
    <h3>Test Queues</h3>
    @Html.Partial("_TestQueues", Model.Queues)
</div>
<div>
    <h3>Test Runs</h3>
    @Html.Partial("_ShowProgress", Model)
    @Html.Partial("_TestRuns", Model.Runs)
</div>
