@model TestLab.Domain.TestSession

@{
    ViewBag.Title = "Test Session";
}

<div>
    <h2>Test Session</h2>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
    @Html.Partial("_ShowAudit", Model)
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>
    </dl>
    @Html.Partial("_ShowStartInfo", Model)
</div>
@Html.Partial("../TestProjects/_ShowBuild", Model.Build)
@Html.Partial("_ShowAgent", Model.Agent)

<p>
    @Html.ActionLink("Start The Session", "Start", "TestSessions", new { id = Model.Id, testprojectId = Model.Project.Id }, new { @class = "btn btn-success ajax-post" })
</p>

@Html.Partial("../TestRuns/Index", Model.Runs)

@section tabs{
    <ul class="nav nav-tabs">
        <li>@Html.ActionLink("Project", "Show", "TestProjects", new { id = Model.Project.Id }, null)</li>
        <li>@Html.ActionLink("Cases", "Index", "TestCases", new { testprojectId = Model.Project.Id }, null)</li>
        <li>@Html.ActionLink("Plans", "Index", "TestPlans", new { testprojectId = Model.Project.Id }, null)</li>
        <li>@Html.ActionLink("Sessions", "Index", "TestSessions", new { testprojectId = Model.Project.Id }, null)</li>
        <li class="active">@Html.ActionLink("Session", "Show", "TestSessions", new { id = Model.Id, testprojectId = Model.Project.Id }, null)</li>
    </ul>
}