@model TestLab.Domain.TestSession

@{
    ViewBag.Title = "TestSession";
}

<div>
    <h2>TestSession</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>
                
        <dt>
            @Html.DisplayNameFor(model => model.Started)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Started)
            &nbsp;
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Completed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Completed)
            &nbsp;
        </dd>
    </dl>
</div>
@Html.Partial("_ShowConfig", Model.Config)
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</p>
@using (Html.BeginForm("Start", "TestSessions", new { id = Model.Id }))
{
    <input type="submit" value="Start" class="btn btn-success" />
}

@Html.Partial("../TestResults/Index", Model.Results)